@CHARSET "UTF-8";
/*腾讯新闻 12周年庆 start*/
.wybj_form .city{width:97%; height:35px; border:solid 1px #fe0000; line-height:35px; margin-bottom:10px;  border-radius:4px;color:#666; padding-left:5px; margin-left:1.5%;}
.wybj_form .wybj_inp_area_xztxganen{width:96%; height:35px; line-height:35px; margin-bottom:10px; border-radius:4px; border:solid 1px #fe0000; color:#666; text-indent:10px;margin-left:1.5%;}

.xzzn_12 img{ width:100%;}
.xzzn_12f{ background:#eae6cb;}
.xzzn_12f .xzzn_tel{  padding-bottom:5px; margin-left:5%;}
.xzzn_12f p{ text-align:center; padding-top:5px; padding-bottom:5px; font-size:0.9em;}
.xzzn_12f p font{ color:#f00;}
/*腾讯新闻 12周年庆  end*/