@charset "utf-8";
/* CSS Document */

/*public style start*/
body,html{font-family:"微软雅黑";font-size:14px; color:#666;}
body,html,div,ul,li,span,p,dl,dd,dt,input，h1,h2,h3,h4,h5{ margin:0; padding:0;}
input{ margin:0; padding:0; border:0; vertical-align:baseline;}
/*万能清除浮动开始*/
.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 0;
}
.clearfix { display: inline-table; } /* Hides from IE-mac */
* html .clearfix { height: 1%; }
.clearfix { display: block; }
a{ text-decoration:none; color:#666;}
a:hover{ color:#009c42;}
.w1200{ width:1200px; margin:0 auto;}
.fl{ float:left;}
.fr{ float:right;}
ul li{ text-decoration:none; list-style:none;}
img{ border:none;}
/*public style end*/

/*首页样式  start*/

/*header start*/
.top_one{ border-bottom:1px solid #e4e3e3; height:40px; line-height:40px;}
.top_one .zxyy_right a{}

.top_t{ margin-top:30px; margin-bottom:30px;}
.telqq b{ font-size:26px; color:#009c42;}
.telqq p{ margin-bottom:10px;}

.linezx{ /*background:#ed603b;*/background:#BF3131; padding:10px 28px; border-radius:5px; text-align:center; margin-top:3px;}
.linezx a{color:#fff; font-size:16px;}

/*nav start*/
.nav{ height:55px;}
.nav { width: 100%; height: 60px; background-color: #2f2f2f; }
.nav1 { display: block; width: 1198px; height: 60px; margin: 0px auto; border-right: 1px solid #212121; }
.nav1 li { position: relative; display: block; width: 132px; height: 60px; float: left; display: inline; text-align: center; vertical-align: middle; line-height: 60px; border-left: 1px solid #212121; }
.nav1 li a { text-decoration: none; color: #fff; font-size: 15px; display: block; width: 132px; height: 60px; }
.nav1 li a:hover { background-color: #009c42; }
.nav1 li a.nav_bj { background-color: #BF3131; }
.nav1 li a img { margin-right: 5px; }
.nav1 li ul li { background-color: #353535; border: 0px; height: 40px; text-align: center; vertical-align: middle; line-height: 40px; clear: both; opacity:0.6; }
.nav1 li ul li a { font-size: 12px; height: 40px }
.nav1 li ul { display: none; position: absolute; z-index: 999; left: 0 }
.nav1 li:hover ul { display: block }
.nav1 li ul li a:hover { background-color: #009c42 }
/*nav end*/

/*header end*/

/*banner start*/
.banner{position:relative;height:600px;overflow:hidden;background:url(../images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:600px;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:50px;height:3px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:50px;height:3px;overflow:hidden;background:#fff;cursor:pointer;}
.flex-control-nav .flex-active{background:#ff8400;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:38px;overflow:hidden;cursor:pointer;position:absolute;filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity: 0.8; opacity: 0.8;}
.flex-direction-nav li a.flex-prev{left:40px;background:url(../images/prev_icon.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:40px;background:url(../images/next_icon.png) center center no-repeat;}
.flex-direction-nav li a:hover{filter:alpha(opacity=60); -moz-opacity:0.6; -khtml-opacity: 0.6; opacity: 0.6;}
/*banner end*/


/*报价神器 start*/
.bj{ background:#009c42; height:50px; padding:15px 0;}
.bj_title { margin-right:60px;}
.bj .bj_title h4{ font-size:30px; color:#fff; font-weight:normal;}
.bj .bj_title p{ font-size:12px; color:#fff; letter-spacing:2px;}
.bj .bj_input{ margin-top:13px;}
.bj .bj_input input{ height:38px; line-height:38px; width:145px; border-radius:5px; margin-right:15px;}
.bj .inputname ,.inputtel ,.inputmj{ padding:0 0 0 10px;}
.bj .bj_input .inputbj{ width:100px; background:#fff100; margin-left:20px; text-align:center; cursor:pointer;font-family:"微软雅黑"; font-size:16px; }
.bj .bj_rig { margin-right:30px;}
.bj .bj_rig .rig_text01{ font-size:18px; color:#fff; height:34px; line-height:34px;letter-spacing:1px;}
.bj .bj_rig .rig_text02{color:#fff; height:28px; line-height:28px;letter-spacing:1px;}
.bj .bj_rig .rig_text02 span{ color:#fff100; font-style:italic; letter-spacing:2px;}
/*报价神器 end*/


/*主体部分 main start*/
/*装修风格 start*/
.fengge ,.zx_news{ padding:30px 0px;}
.da-thumbs {list-style: none;/*width: 984px; height: 600px;*/ width:1200px;position: relative;margin: 20px auto;padding: 0;}
.da-thumbs li {float: left;margin: 5px;background: #fff;padding: 8px;position: relative;box-shadow: 0 1px 3px rgba(0,0,0,0.1);}
.da-thumbs li a,.da-thumbs li a img {display: block;position: relative;}
.da-thumbs li a {overflow: hidden;}
.da-thumbs li a div {position: absolute;background: #333;background: rgba(75,75,75,0.7);width: 100%;height: 100%;}
.da-thumbs li a div span {font-size:28px;text-align:center;display: block;padding: 10px 0;margin: 60px 20px 20px 20px;text-transform: uppercase;font-weight: normal;color: rgba(255,255,255,0.9);text-shadow: 1px 1px 1px rgba(0,0,0,0.2);border-bottom: 1px solid rgba(255,255,255,0.5);box-shadow: 0 1px 0 rgba(0,0,0,0.1), 0 -10px 0 rgba(255,255,255,0.3);}
/*装修风格  end*/


/*装修案例 start*/
.al_bg{ overflow:hidden; overflow:hidden;}
.al_bg h2 { text-align:center; font-weight: normal; padding:31px 0 24px; }
.al_bg h2 a{ color:#be0000; font-size:24px; display:block; padding-bottom:5px;}
.al_list{ margin-bottom:15px; overflow:hidden; margin-top:40px;}
.al_list dl{}
.al_list dl dt{ display:block; float:left; width:340px; height:70px; background:#cdcdcd; text-align:center; line-height:70px;}
.al_list dl dt a{ font-size:20px; color:#333;}
.al_list dl dd{ display:block; float:left; width:815px; margin:0 0 0 20px; height:70px; line-height:70px; overflow:hidden; border-bottom:#e0e0e0 1px dashed;}
.al_list dl dd a{ display:block; float:left; font-size:14px; color:#333; padding:0 18px;}
.al_list dl dd a:hover{ color:#009c42;}
.al_list dd.nei_span_01{ height:70px; line-height:70px;/* line-height:35px; */overflow:hidden;}

.al_l{ width:1200px; font-size:0; height: 884px; position:relative;}
.al_l h3{ background:url(../images/la_h3.gif) no-repeat center 0; height:120px; width:340px; top:0; position:absolute; left:0;}
.al_l h3 a{ color:#fff; font-size:25px; font-weight:normal; display:inline-block; padding:63px 0 0 79px;}
.al_l_l{ width:340px; float:left;}
.al_l_l span a{ display:block;text-align:center; height:94px; line-height:94px; background:#2f2f2f; color:#fff;text-align:center; font-size:20px;}

.al_b{ width:340px; position:relative; top:-110px;}
.al_b p{ background:url(../images/al_bgg.gif) no-repeat center 0;  height:110px;}
.al_b p a{display:inline-block; margin:30px 0 0 30px; width:48px; height:49px; background:url(../images/al_uu1.gif) no-repeat left 0;}
.al_b p a:hover{background:url(../images/al_uu.gif) no-repeat;}
.al_b p .dd{ margin-left:180px; background:url(../images/al_dd.gif) no-repeat;}
.al_b p .dd:hover{ margin-left:180px; background:url(../images/al_dd1.gif) no-repeat;}

.al_l_r{ width:850px; float:right;}
.al_l_r p{ background:url(../images/al_bg.png) no-repeat; height:203px; font-size:14px; text-align:center; line-height:31px; position:relative;}
.al_l_r p a{ color:#333; display:inline-block; padding-top:50px; width:280px; text-align:left;}
.al_l_r p i{ position:absolute; right:-44px; top:-15px;}
.alzs01_left{width:340px; height:680px;}
.alzs01_r_b{ margin-top:11px;}


.alzs01_r_t{ width:850px; height:399px;}
.alzs01_r_b_l{ width:420px; height:270px;}
.alzs01_r_b_r{ width:420px; height:270px;}

.alzs01_r_t a img{ position:absolute;}
.alzs01_r_t a  p { color:#fff;position:relative; width:110px;z-index:32767; height:36px; font-size:14px;
 line-height:36px;background:#009c42;  left:740px; text-align:center;}


.alzs01_r_b_l a img { position:absolute;}
.alzs01_r_b_l a p { position:relative; color:#fff; width:110px;z-index:32767; height:36px; font-size:14px;
 line-height:36px;background:#009c42;  left:310px; text-align:center;}


.alzs01_r_b_r a img{ position:absolute;}
.alzs01_r_b_r a p{ position:relative; color:#fff; width:110px; z-index:32767; height:36px; line-height:36px; font-size:14px; background:#009c42; left:310px; text-align:center; }
/*装修案例 end*/



/*我们的优势 start*/
.youshi{ background:#e5ebee; /*margin:30px 0;*/ padding:30px 0;}
.title{/* margin-top:20px; */ padding-top:20px;margin-bottom:20px;}
.title_cen{ border-bottom:1px solid #e4e3e3;}
.title_cen h3{ font-size:30px; font-weight:normal; text-align:center;height:50px; line-height:50px; width:1120px;}
.title_cen span ,.title_s span{ height:50px; line-height:50px; overflow:hidden;}
.title_cen b ,.title_s b{ background:#009c42; padding:0px 5px;; border-radius:50%; color:#fff; margin-left:5px;}
.youshi p,.fengge p {}
.title p{ width:1120px;text-align:center; height:40px; line-height:40px; overflow:hidden;}
.youshi .youshi_con{ background:url(../images/bg_youshi.png) no-repeat top center; height:400px; padding-top:25px; position:relative; margin-top:50px;}
.youshi .youshi_con dl{text-align:center;  width:200px; float:left;}
.youshi .youshi_con dt{ font-family:Impact; font-size:48px; color:#d5d5d5;}
.youshi .youshi_con dl dt span{ padding-bottom:7px; display:inline-block; line-height:72px;}
.youshi .youshi_con dd{ font-size:30px; font-weight:bold;color:#f5f4f7; padding-bottom:46px;}


.youshi .youshibox01{ margin-left:95px;}
.youshibox02 ,.youshibox03 ,.youshibox04 { margin-left:68px;}
.youshibox05{ margin-left:227px;}
.youshibox06 ,.youshibox07{ margin-left:70px;}
.youshibox05,.youshibox06,.youshibox07{ margin-top:-16px;}


.youshibox01 dd{ background:url(../images/icon_001.png) center bottom no-repeat;}
.youshibox02 dd{ background:url(../images/icon_002.png) center bottom no-repeat;}
.youshibox03 dd{ background:url(../images/icon_003.png) center bottom no-repeat;}
.youshibox04 dd{ background:url(../images/icon_004.png) center bottom no-repeat;}
.youshibox05 dd{ background:url(../images/icon_005.png) center bottom no-repeat;}
.youshibox06 dd{ background:url(../images/icon_006.png) center bottom no-repeat;}
.youshibox07 dd{ background:url(../images/icon_007.png) center bottom no-repeat;}
/*我们的优势 end*/


/*装修效果图 && 设计师 start*/
.xiaoguotu{ width:930px;}
.xiaoguotu_picright{ width:469px;}
.xiaoguotu_picright ul li{ float:left; margin-left:13px; margin-bottom:13px; width:220px; height:159px;}
.xiaoguotu_picright ul .no_mar{ margin-bottom:0px;}


.xiaoguotu_picleft img{ position:absolute;}
.xiaoguotu_picleft p{ position:relative; top:299px;text-align:center; height:30px; line-height:30px; background:#3F3F3F; opacity:0.6; z-index:1000; color:#fff; font-weight:normal; font-size:14px; width:461px;}

.xiaoguotu_picright ul li a img{ position:absolute;}
.xiaoguotu_picright ul li a p{position:relative; top:126px; text-align:center; height:30px; line-height:30px; background:#3F3F3F; opacity:0.6; z-index:1000; color:#fff; font-weight:normal; font-size:14px; width:221px;}



.shejishi ul li{ width:250px; float:left;}
.shejishi ul li span a{ display:block; font-size:16px; height:40px; line-height:40px; overflow:hidden; background:#009c42;}
.abo_r{ position:relative;}
.abo_r p{ position:absolute;left:30px; top: 393px;z-index: 1000;}
.abo_r p .pal {padding-left:170px;}
.shejishi ul li span a{ text-align:center; color:#fff;}
/*装修效果图 && 设计师 end*/

/*装修新闻 start*/
.zx_gonglue{ width:614px;}
.title_s{ border-bottom:1px solid #e4e3e3;}
.title_s h3{ font-size:30px; font-weight:normal; height:50px; line-height:50px; border-bottom:1px solid #009c42;}
.zx_gonglue dl{ height:150px; margin-bottom:10px;}
.zx_gonglue dl dt{ margin-right:4px; margin-top:3px;}
.zx_gonglue .back{ background:url(../images/bg_news.jpg) no-repeat; }
.zx_gonglue dl dd{ background:url(../images/bg_news01.jpg) no-repeat; height:150px; width:426px;}
.zx_gonglue .back a{ color:#fff;}
.zx_gonglue dd h4{ padding:15px 20px; width:380px; font-size:15px;}
.zx_gonglue dd p{width:380px; padding-left:20px; height:60px; line-height:30px; overflow:hidden; margin-bottom:10px;}
.zx_gonglue dd span{ font-size:12px; padding-left:20px;}
.zx_gonglue dd:hover { background:url(../images/bg_news.jpg) no-repeat;}
.zx_gonglue dd:hover a{ color:#fff;}


.zx_riji{ width:540px;}
.zx_riji ul li{ height:40px; line-height:40px; border-bottom:1px solid #e8e8e8; background:url(../images/news_li.jpg) no-repeat left; padding-left:15px; }
.zx_riji ul li span{ float:right;}
/*装修新闻 end*/

/*长图 start*/
.longpic{ background:url(../images/longpic.jpg) no-repeat; height:248px;}
.longpic_con ul{ width:290px; float:right; padding-top:100px;}
.longpic_con ul li{ height:40px;}
.longpic_con ul li span{ font-size:18px;}
.longpic_con ul li input{ height:30px; line-height:30px; background:url(../images/t_bg1.gif) no-repeat; width:195px; padding:0 15px;}
.longpic_con ul li a{ padding-left:55px;}
/*长图 end*/


/*装修流程 start*/
.liucheng_con { margin-top:50px; margin-bottom:50px;}
.liucheng_con ul li{ float:left; width:118px; height:118px; text-align:center; margin-right:17px;font-size:14px;}
.liucheng_con ul li a{ width:117px; height:117px; display:block; border:1px #e4e3e3 solid;}
.liucheng_con ul li i{ background-image:url(../images/liucheng.png); height:37px; display:block; margin:26px auto 15px;}

.liucheng_con ul li a:hover{ color:#fff; background:#009c42;}
.liucheng_con ul .no_mar{ margin-right:0px;}
.zxlc_ico1{ width:44px; background-position:0px 0px;}
.zxlc_ico2{ width:36px; background-position:-46px 0px; }
.zxlc_ico3{ width:34px; background-position:-84px 0px;}
.zxlc_ico4{ width:36px; background-position:-120px 0px;}
.zxlc_ico5{ width:36px; background-position:-159px 0px;}
.zxlc_ico6{ width:38px; background-position:-197px 0px;}
.zxlc_ico7{ width:36px; background-position:-236px 0px;}
.zxlc_ico8{ width:36px; background-position:-274px 0px;}
.zxlc_ico9{ width:34px; background-position:-312px 0px;}

.liucheng_con a:hover .zxlc_ico1{ background-position:0px -39px;}
.liucheng_con a:hover .zxlc_ico2{ background-position:-46px -39px;}
.liucheng_con a:hover .zxlc_ico3{ background-position:-84px -39px;}
.liucheng_con a:hover .zxlc_ico4{ background-position:-120px -39px;}
.liucheng_con a:hover .zxlc_ico5{ background-position:-159px -39px;}
.liucheng_con a:hover .zxlc_ico6{ background-position:-197px -39px;}
.liucheng_con a:hover .zxlc_ico7{ background-position:-236px -39px;}
.liucheng_con a:hover .zxlc_ico8{ background-position:-274px -39px;}
.liucheng_con a:hover .zxlc_ico9{ background-position:-312px -39px;}
/*装修流程 end*/


/*热装楼盘 start*/
.loupan_con_left{ width:570px;}
.loupan_con_diqu{ width:275px;}
.loupan_con_diqu ul li{ float:left; width:89px; height:69px; line-height:85px; text-align:center; border:1px solid #e4e3e3;}
.loupan_con_diqu ul li:hover a{ color:#009c42;}
.loupan_con_diqu ul li a{ color:#7e7d7d; font-size:14px;}
.loupan_con_left_bot{ margin-top:13px;}

.loupan_con_right_img{ position:relative;}
.loupan_con_right_cont{width:240px;height:195px; position:absolute;background:#009c42;  left:74%;  margin-top:-300px; opacity:0.8;}

.loupan_con_right_cont span{ background:url(../images/loupanspan.png) no-repeat; width:187px; height:68px; z-index:32767; display:block; margin-left:15px; margin-top:15px;}
.loupan_con_right_cont h4{ font-size:30px; color:#fff; font-weight:normal; margin-left:15px;letter-spacing:2px;}
.loupan_con_right_cont p{ color:#fff; margin-left:15px; margin-top:10px; letter-spacing:2px; margin-right:15px;}
.loupan_con_right_cont b{ color:#fff100;}

/*热装楼盘 end*/

/*合作品牌 start*/

.hzbj{ background:#eee;}
.blk_18 { overflow:hidden; zoom:1; font-size:9pt;margin-top:8px;  margin-top:50px; padding-bottom:60px; padding-top:20px; position:relative;}
.blk_18 .pcont {width:1120px; float:left; overflow:hidden;}
.blk_18 .ScrCont { width:32766px; zoom:1;}
.blk_18 #List1_1, .blk_18 #List2_1 { float:left; }
.blk_18 .LeftBotton, .blk_18 .RightBotton { width:32px; height:52px; float:left; background:url(../images/ax.gif) no-repeat; }

.blk_18 .LeftBotton { background-position: 0 0; margin:25px 5px 0 5px;}
.blk_18 .RightBotton { background-position: 0 -70px; margin:25px 1px 10px 5px; }
.blk_18 .LeftBotton:hover { background-position: -36px 0; }
.blk_18 .RightBotton:hover { background-position: -36px -70px; }
.blk_18 .pl img { display:block; cursor:pointer; margin:6px auto 1px auto; border:solid 1px #cdcdcd; }
.blk_18 .pl {/* width:105px;*/ width:221px; border:1px solid #f3f3f3; float:left; float:left; text-align:center; line-height:24px; }
.blk_18 a.pl:hover img{ border:solid 1px #009c42;}
/*合作品牌 end*/


/*主体部分 main end*/

/*footer start*/
.footer{ background:url(../images/footerback.jpg) no-repeat; height:290px;color:#d6d5da; font-size:18px; font-weight:normal;}
.foot{ padding:50px 0 25px 0;}
.link { border-bottom:1px solid #666; padding-bottom:10px;}
.link a{ font-size:14px; color:#d6d5da; padding:0 6px;}
.foot01{ margin-top:20px;}
.footer_nav{ width:240px; margin-right:40px;}
.footer_nav h5{ font-size:18px; font-weight:normal; margin-bottom:10px;}
.footer_nav a{ font-size:14px; color:#d6d5da; margin-right:60px; height:30px; line-height:30px;}
.footer_add{ padding-top:20px; padding-bottom:10px; margin-top:10px;width:520px;padding-left:50px; border-left:1px solid #d6d5da; border-right:1px solid #d6d5da;}
.footer_add ul li{ float:left; margin-right:20px; font-size:14px; height:40px; line-height:40px; text-align:center; vertical-align:middle;}
.footer_add ul li span{ height:50px; line-height:50px; overflow:hidden;}
.footer_ewm{ margin-right:10px;}
.footer_ewm ul{ padding-top:30px;}
.footer_ewm ul li { float:left;margin-right:40px;}
.footer_ewm ul li p{ font-size:14px; text-align:center;}
.foot_bot{ background:#2f2f2f; padding:16px 12px; font-size:14px; text-align:center; font-family:"微软雅黑";}
/*footer end*/

/*右侧悬浮*/
.side-bar { position: fixed; top: 35%; right: 0; width: 45px; z-index: 10000; display: none; }
.side-bar div { margin: 1px 0 0; float: right; cursor: pointer; }
.side-bar div p { color: #fff; padding-top: 14px; }
.to-top { width: 45px; height: 45px; line-height: 45px; text-align: center; background: #cbcbcb; color: #fff; font-weight: bold; position: relative; }
.side-bar-erweima { width: 45px; height: 45px; background: #BF3131; position: relative; }
.erweima { width: 140px; height: 150px; display: none; position: absolute; top: -108px; left: -155px; background: #fff; border: 1px solid #ccc; float: right; text-align: center; cursor: default !important; }
.side-bar-erweima .erweima p { line-height: 20px; color: #000; font-size: 12px; text-align: center; float: left; width: 130px; }
.side-bar-erweima .arrow3 { width: 6px; height: 11px; display: block; background: url(../images/weixin-arrow.png) no-repeat; position: absolute; right: -6px; top: 122px; }
.side-bar-erweima img { width: 120px; height: 120px; margin: 10px 10px 0px 10px; }
.side-bar-qq { width: 45px; height: 45px; background: #BF3131; }
.side-bar-contact { width: 45px; height: 45px; background: #BF3131; }
.side-bar .ico2 { width: 46px; height: 46px; display: block; float: left; }
.side-bar .side-bar-erweima .ico2 { float: right; }
.to-top .ico2 { width: 12px; height: 5px; position: absolute; top: -5px; left: 18px; }
.ico2 { background: url(../images/ico2.png) no-repeat; }
.side-bar-erweima .ico2 { background-position: -46px -46px; }
.side-bar-qq .ico2 { background-position: 2px -46px; }
.to-top .ico2 { background-position: -28px -2px; }
.side-bar-contact .ico2 { background-position: -92px -46px; }
.totopa { text-decoration: none; padding: 0px; margin: 0px; }
.totopa p { padding: 0px; margin: 0px; }
/*首页样式  end*/




/*二级页面  start*/
/*案例列表页 start*/
.ej_weizhi{ height:85px; line-height:80px; background:#e3e3e4; font-size:28px;}
.ej_weizhi_left span{ font-size:38px;}
.ej_local_right{ font-size:14px;}


.ej_anli_fenl{margin:30px 0;}
.ej_anli_fenl ul{line-height:30px; height:30px; margin:20px 0;}
.ej_anli_fenl ul span{ float:left; background:#009c42; padding:0px 15px; color:#fff; margin-right:10px;}
.ej_anli_fenl ul li{ float:left; margin:0px 10px; padding:0px 10px;}

.ej_anli_fenl ul li:hover{ background:#009c42; padding:0px 10px;}
.ej_anli_fenl ul li:hover a{ color:#fff;}

/*案例图片列表*/
.list_al{ margin-top:30px;}
.list_al dl{width:280px; float:left; margin-right:26px; margin-bottom:40px;}
.list_al .no_mar{ margin-right:0px;}
.list_al dt{ float:left;}
.list_al dt img{ border-radius:50%; position:relative; margin-top:-25px; left:10px; border:solid 3px #fff;}
.list_al dd{ float:right; width:190px; text-align:right; font-size:12px;}
.list_al dd span{ display:block; height:24px; line-height:24px; overflow:hidden;}
.list_p_yy{ width:60px; border:solid 1px #009c42; border-radius:20px; margin-top:2px; float:right; height:20px; line-height:20px; overflow:hidden; text-align:center;}
.list_p_yy a{ color:#009c42;}
.list_p_yy :hover{ color:#009c42; }


/*page*/
.Page{width:100%; text-align:center; padding:50px 0px;}
.Page a{display:inline-block;width:65px;background:#ffffff;height:48px; vertical-align:middle; line-height:48px; font-size:14px; border:1px solid #e5e5e5; margin-left:-1px; float:left;text-decoration:none; color:#333; outline:none;}
.Page a:hover{ background:#009c42; color:#FFF;background-repeat:no-repeat; }
.Page span{display:inline-block;min-width:45px; padding:0 10px;background:#fff; height:48px; vertical-align:middle; line-height:48px; font-size:14px; border:1px solid #e5e5e5; margin-left:-1px;float:left;}
.Page span.current{ background:#009c42; color:#FFF}

/*案例列表页 end*/

/*热门活动 start*/
.ej_huodong { margin-top:30px; margin-bottom:50px;}
.ej_huodong dl{ margin-bottom:30px;}
.ej_huodong_info{ width:370px;}
.ej_huodong_info h4{ font-weight:normal; font-size:22px; border-bottom:1px dashed #bbb; height:60px; line-height:60px;}
.ej_huodong_info .huodong_con{ height:60px; line-height:30px; overflow:hidden; margin-top:10px; margin-bottom:10px;}
.huodong_time span{ color:#009c42; font-size:18px;}
.huodong_more{ background:#09b551; width:100px; padding:10px 0; color:#fff; text-align:center; margin-top:20px;}
.huodong_more:hover{ background:#009c42;}
/*热门活动 end*/



/*楼盘列表页 start*/
.list_looupan_list{ margin:30px 0;}
.loupan_info { width:280px;  overflow:hidden; margin-top:10px;}
.info01{ font-size:16px; height:30px; line-height:30px;}
.info02{ font-size:12px;}
.info03{ background:#999; color:#fff; width:60px; text-align:center; margin-top:10px; height:30px; line-height:30px;vertical-align:middle;}
.info03:hover{ background:#009c42;}
.list_looupan_list ul li ,.content_loupan_tj ul li{ float:left; margin-right:26px; margin-bottom:40px;}
.list_looupan_list .no_mar ,.content_loupan_tj .no_mar{ margin-right:0px;}
/*楼盘列表页 end*/


/*新闻列表页 start*/
.ej_news{ margin-top:30px;}
.ej_news dl{ width:590px; float:left; margin-right:20px; margin-bottom:30px;}
.ej_news dt{ float:left;}
.ej_news dd{ width:310px;float:right;}
.ej_news dd h4{ height:40px; line-height:40px; font-size:18px;}
.ej_news dd p{ height:60px; line-height:30px; overflow:hidden;}
.news_data{ height:36px; line-height:36px;font-size:12px;}
.news_more{ display:block; background:#009c42; width:80px; text-align:center; padding:5px 0; color:#fff; margin-top:20px;}
.ej_news .no_mar { margin-right:0px;}
  
/*新闻列表页 end*/


.ej_news_con{ margin-top:50px; margin-bottom:50px;}
.ej_news_left{ /*border:solid 1px #009c42;*/}
.ej_news_right{ margin-left:20px; width:900px;}

.ej_news_con_tit h4{ font-size:26px; font-weight:normal; text-align:center; height:40px; line-height:40px; overflow:hidden; margin-bottom:10px;}
.ej_news_con_data { text-align:center; height:40px; line-height:40px; margin-bottom:10px;}
.ej_news_con_img{ text-align:center; max-width:900px; min-width:700px;}
.ej_news_con_con{ text-indent:2em;line-height:40px; padding:10px 20px;}

/*免费获取户型规划 start*/
.anli_hxgh{ width:260px; text-align:center;}
.anli_hxgh_title h3{ height:50px; line-height:50px; overflow:hidden; color:#fff; margin-top:10px; background:#009c42; margin-bottom:10px; text-align:center;}
.anli_hxgh_title p{ height:30px; line-height:30px; overflow:hidden;}
.sq{ background:#f39800; height:42px; line-height:42px; overflow:hidden; width:260px; text-align:center; color:#fff; cursor:pointer;}
.sq:hover{ background:#d48502;}
.inp{ /*width:225px;*/ width:240px; padding:5px 8px; border:solid 1px #ddd; height:24px; line-height:24px; overflow:hidden; color:#666;}
.anli_hxgh p{ margin-bottom:10px; color:#666;}

.anli_hxgh select{ height:30px; line-height:30px; width:260px; border:solid 1px #ddd; margin-bottom:10px; color:#999}
/*免费获取户型规划 end*/

.tjanli{ margin-top:20px;}
.tjanli ul li{border:solid 1px #e3e3e4;padding:10px 10px 0px 10px; margin-bottom:10px;}
.tjanli ul li:hover{ border:solid 1px #009c42;}
.tjanli ul li a{ }
.tjanli ul li span{ display:block; height:36px; line-height:36px; overflow:hidden; text-align:center;}
.ej_news_con_page { height:40px; line-height:40px; overflow:hidden; margin-top:10px; padding:0px 20px;}

/*常见问题页面 start*/
.ej_changjianwenti dl{ margin-bottom:20px;}
.ej_changjianwenti dt h3{ height:50px; line-height:50px; overflow:hidden; font-size:18px;}
.ej_changjianwenti dd{ line-height:40px;}
.ej_news_right .Page{ padding-top:30px;}
/*常见问题页面  end*/





/*在线订单  在线报修*/
.line_main{ margin-top:30px; }
.line_left{ float:left; width:810px;margin-right: 30px;}
.line_right{ float:right; width:320px;}

.Column-L{ margin-top:20px;}
form{ margin-top:20px;}
.bigTitle {margin-bottom: 20px; padding-bottom:20px;padding-left: 30px;border-bottom: 1px solid #CCC;background: url(../images/public.png) no-repeat; font-size: 20px;font-weight: bold;}
input, select, textarea {font-size: 12px;line-height: 22px;font-family: "Microsoft YaHei","微软雅黑","宋体","Arial","Arial Narrow";}
.table {width: 100%;clear: both; margin-bottom: 15px; line-height: 30px;}
.table .left {float: left; width: 150px;margin-right: 5px;font-size: 14px;text-align: right;color: #333;}
.table .left .red {color: #009c42;}
.table .right .input-text { height: 22px;padding: 2px 10px; font-size: 14px;color: #555;background-color: #fff; border: 1px solid #ccc; border-radius: 4px;}	
.table .right select {height: 24px; line-height: 24px; padding-left: 5px;margin: 3px 0;}
.table .right1 .button {padding: 5px 27px;border: none; background: #009c42;color: #FFF;text-align: center;font-size: 14px; cursor: pointer;}
.table .right img { width: 70px; height: 28px; margin-left: 5px; cursor: pointer;}


.cont_shejishi{ margin-top:30px;}


/*设计师详情页 start*/
.list_per_right em {
    width: 262px;
    height: 60px;
    background: url(../images/shejishi.png)  no-repeat;
}

.vip {
    display: block;
    width: 28px;
    height: 30px; margin-top:15px; margin-left:15px;
    background: url(../images/shejishi01.png) no-repeat;
}

.pos {
    padding: 0 7px;
    margin-top: 20px;
    border: 1px solid #52545B;
    border-radius: 3px; margin-left:15px;
}
.bor{ border-bottom:1px #E3E3E4 solid; margin-bottom:20px;}


.cont_main{ margin-top:30px; margin-bottom:30px;}
.list_alpic{ margin-top:30px; margin-bottom:30px;}
.list_alpic_con{ margin-top:30px; margin-bottom:30px;overflow:hidden;}

.list_per{ overflow:hidden; margin-bottom:30px;}
.list_per_left{ width:240px; border-right:1px #d1d1d1 dashed; padding-right:50px;}
.list_per_yuy{ background:#09b551; width:100%;;color:#fff; height:30px; line-height:30px; text-align:center; margin-top:3px;}
.list_per_yuy:hover{ background:#009c42;}
.list_per_right{ padding-left:50px; width:850px;}
.list_per_right h2{ color:#666; height:50px; line-height:50px; margin-bottom:30px; font-size:36px; font-weight:normal;}
.list_per_right p{ height:40px; line-height:40px;}
.list_alpic_con dl{ width:280px;float:left; margin-right:26px; margin-bottom:20px;}
.list_alpic_con .no_mar{ margin-right:0px;}
.list_al_info{ margin-top:10px;}
.list_al_info P{ height:26px; line-height:26px;overflow:hidden; width:100%;text-align:center;}
.list_al_info p a{ color:#666;}
.list_al_info p a:hover ,.list_loupan_fenl dl dt a:hover{ color:#009c42;}
.list_info_js{ text-align:center; font-size:12px; height:26px; line-height:26px; overflow:hidden; vertical-align:central;}


/*楼盘详情页*/
.ej_loupan_con{ margin-top:10px;}
.content_loupan_main{ margin-top:20px; margin-bottom:30px;}
.content_loupan_left{ margin-right:25px;}
.content_loupan_right{ width:740px;}
.content_loupan_right h2{ color:#666; height:50px; line-height:50px; overflow:hidden; border-bottom:1px solid #dedede; margin-bottom:10px;}
.content_loupan_info{ line-height:30px;}
.content_loupan_cont{ margin-top:20px;}
.content_loupan_tel{ background:url(../images/dianhua.png) no-repeat; height:55px; line-height:55px; overflow:hidden; padding-left:60px; font-size:18px;}
.content_loupan_tel span{ color:#f39800; font-weight:bold; font-size:24px;}
.content_loupan_yuyue{ overflow:hidden; background:#009c42; color:#fff; margin-top:10px; padding:6px 10px;}
.content_loupan_yuyue a{ color:#fff;}

.content_loupan_tj{ margin-top:20px; margin-bottom:20px;}
.content_loupan_tj ul { clear:both; overflow:hidden; margin-top:10px;}
/*二级页面  end*/

